*{
    margin: 0px;
}
#jo5{
    position: fixed;
    margin-left: 1000px;
    width: 150px;
    height: 20px;
    font-size: medium;
    color: rgb(72, 70, 70);
    border: 1px solid rgb(146, 143, 143);
    z-index: 1;
    cursor: pointer;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 10px;
    position: relative;
    z-index: 2;
}
.ima1{
    width: 200px;
    height: 95px;
    margin-left: 20px;
}
.li1, .li2, .span4, .span5, .span6, .span7:hover{
    color: white;
}
nav li{
    transition: 0.5s;
}
nav li:hover{
    transform: scale(1.05);
    background-color: green;
    
    cursor: pointer;
}
.span{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.span1{
    margin-left: 200px;
    text-decoration: none;
    color: rgb(39, 142, 39);
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.span2{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.span3{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: black;
}
.li1{
    position: absolute;
}
.bar1 li{
    display: none;
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
}
.bar1:hover li{
    display: block;
}
.li2{
    position: absolute;
}
.bar2 li{
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
    display: none;
}
.bar2:hover li{
    display: block;
}
.span4{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.li3{
    position: absolute;
}
.bar3 li{
    display: none;
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
}
.bar3:hover li{
    display: block;
}
.span5{
    text-decoration: none;
    color: black;
   font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.li4{
    position: absolute;
}
.bar4 li{
    display: none;
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
}
.bar4:hover li{
    display: block;
}
.span6{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.li5{
    position: absolute;
}
.bar5 li{
    display: none;
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
}
.bar5:hover li{
    display: block;
}
.span7{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.li6{
    position: absolute;
}
.tooo{
    position: absolute;
    margin-top: 140px;
    margin-left: 590px;
    width: 90px;
    height: 60px;
}
.bar6 li{
    display: none;
    list-style: none;
    width: 330px;
    height: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 20px;
    background-color: white;
    font-weight: 600;
    text-decoration: none;
}
.bar6:hover li{
    display: block;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 10px;
    position: relative;
    z-index: 2;
}
.ver0{
    position: absolute;
    background: rgb(242, 242, 243);
    width: 1265px;
    height: 650px;
    margin-top: 120px;
    z-index: -1;
}
.ver{
    color: green;
    font-weight: bold;
    font-size: x-large;
    padding-top: 200px;
    padding-left: 500px;
}
.ver22{
    color: grey;
    padding-top: 230px;
    padding-left: 570px;
}
main{
    margin-bottom: 200px;
}
.box{
    background: white;
    width: 630px;
    height: 220px;
    margin-top: 20px;
    margin-left: 325px;
    z-index: 1;
    border: 1px solid rgba(174, 169, 169, 0.573);
    border-radius: 30px;
}
.ver2{
    font-size: large;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 130px;
}
.ver3{
    padding-left: 130px;
    color: grey;
    font-weight: lighter;
    font-size: small;
    width: 420px;
}
.ver5{
    margin-top: 20px;
    margin-left: 70px;
    color: gray;
    background: white;
    font-weight: lighter;
    font-size: small;
    width: 475px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
}
.ver6{
    margin-top: 20px;
    margin-left: 70px;
    width: 240px;
    height: 35px;
    border: none;
    background: mediumaquamarine;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.ver7{

    margin-top: 20px;
    margin-left: 5px;
    width: 240px;
    height: 35px;
    background: whitesmoke;
    color:  mediumaquamarine;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.ver8{
    margin-left: 430px;
    color: gray;
    font-size: small;
}
.qo{
    position: relative;
    margin: 0;
    width: 1265px;
    height: 500px;
    background: rgb(50, 29, 2);
    z-index: -1;
}
.qo1{
    width: 300px;
    height: 130px;
    margin-left: 100px;
}
.qo2{
    position: absolute;
    width: 600px;
    height: 430px;
    background: rgb(113, 86, 68);
    z-index: -1;
}
.qo3{
    padding-left: 110px;
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
}
.qo4{
    padding-left: 130px;
    padding-top: 20px;
    font-size: large;
    color: blanchedalmond;
    font-weight: bold;
}
.qo5{
    padding-left: 130px;
    padding-top: 10px;
    font-size: large;
    color: blanchedalmond;
    font-weight: bold;
}
.qo6{
    padding-left: 130px;
    padding-top: 10px;
    font-size: large;
    color: blanchedalmond;
    font-weight: bold;
}
.qo7{
    padding-left: 130px;
    font-size: large;
    color: blanchedalmond;
    padding-top: 20px;
    font-weight: bold;
}
.qo8{
    padding-left: 130px;
    padding-top: 20px;
    font-size: large;
    color: blanchedalmond;
    font-weight: bold;
}
.qo16{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 950px;
}
.qo9{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
}
.qo10{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    padding-top: 20px;
}
.qo11{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    cursor: pointer;
    padding-top: 10px;
}
.qo12{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    cursor: pointer;
  padding-top: 10px;
}
.qo13{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    cursor: pointer;
    padding-top: 10px;
}
.qo14{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    cursor: pointer;
    padding-top: 10px;
}
.qo15{
    font-weight: bolder;
    font-size: larger;
    color: blanchedalmond;
    padding-left: 700px;
    cursor: pointer;
    padding-top: 10px;
}
.yooo{
    position: absolute;
    padding-top: 20px;
}
.qo22{
    margin-left: 700px;
    border: none;
    border-radius: 30px;
    background: red;
    width: 100px;
    height: 20px;
    color: blanchedalmond;
    font-weight: bold;
    cursor: pointer;
}
.qo24{
    background: rgb(48, 173, 48);
    border: none;
    border-radius: 2px;
    font-size: small;
    font-weight: bold;
}
.qo17{
    padding-left: 700px;
    color: blanchedalmond;
    padding-top: 350px;
}
.fil{
    position: absolute;
}
